<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="MusicMate.song"
    android:versionCode="2"
    android:versionName="2.0" >

    <uses-sdk android:minSdkVersion="10" />
	<uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:icon="@drawable/iconn"
        android:label="@string/app_name"
        android:theme="@style/CustomTheme" >
        <activity
            android:name="app.main.main"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="today.song.todaymain"
            android:screenOrientation="portrait"></activity>
        <activity android:name="splash.splash"
            android:screenOrientation="portrait"></activity>
        <activity android:name="app.help.help"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>